.align-center {
    text-align: center;
}

.title {
    border-bottom: rgb(217, 225, 238) dashed 2px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: darkblue;
}

.items-fram {
    padding: 7px;
    border-radius: 6px;
    background-color: rgb(218, 246, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.main-fram {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    padding-bottom: 20px;
}