<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-4 align-center main-fram">

      <div class="container">
        <div class="row align-center title">
          <h3>
            your todo list!
          </h3>
        </div>
        <div class="row align-center mb-3">
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-primary" type="button" (click)="addItem()">ok</button>
            </div>
            <input type="text" class="form-control" placeholder="write your next task in here..." [(ngModel)]="addingItem">
          </div>
        </div>
        <div 
        class="row align-center items-fram mt-2" 
        *ngFor="let item of todoList; let i=index; trackBy: trackByFunc" 
        [style.background-color]="i%2 == 0 ? 'rgb(223, 223, 223)' : 'rgb(217, 225, 238)'">
          {{ i+1 + " . " + item}}
        </div>
      </div>

    </div>
  </div>
</div>