<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-4 align-center main-fram">

      <div class="container">
        <div class="row align-center title">
          <h3>
            create your todo list!
          </h3>
        </div>
        <div class="row align-center mb-3">
          <app-input (newTaskEmit)="getNewTask($event)"></app-input>
        </div>

        <app-list [todoList]="todoList" class="mt-2"></app-list>
      </div>

    </div>
  </div>
</div>